<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">

    <div>
        <input 
            placeholder="Name" 
            name="name" 
            [(ngModel)]="user.name" 
            class="form-control my-3" 
            required
            #name="ngModel">

            @if (name.invalid && (name.dirty || name.touched)) {
                @if (name.errors!['required']) {
                    <div class="text-danger">
                        El nombre es requerido
                    </div>
                }
            }

    </div>
    <div>
        <input 
            placeholder="Last-Name" 
            name="lastname" 
            [(ngModel)]="user.lastname" 
            class="form-control my-3" 
            required
            #lastname="ngModel">

            @if (lastname.invalid && (lastname.dirty || lastname.touched)) {
                @if (lastname.errors!['required']) {
                    <div class="text-danger">
                        El nombre es requerido
                    </div>
                }
            }
    </div>
    <div>
        <input 
            placeholder="Email" 
            name="email" 
            type="email"
            [(ngModel)]="user.email" 
            class="form-control my-3" 
            required
            email
            #email="ngModel">

            @if (email.invalid && (email.dirty || email.touched)) {
                @if (email.errors!['required']) {
                    <div class="text-danger">
                        El nombre es requerido
                    </div>
                }

                @if (email.errors!['email']) {
                    <div class="text-danger">
                        El E-mail no tiene el formato correcto
                    </div>
                }
            }
    </div>
    <div>
        <input 
            placeholder="User-Name" 
            name="username" 
            [(ngModel)]="user.username" 
            class="form-control my-3" 
            required
            minlength="8"
            #username="ngModel">

            @if (username.invalid && (username.dirty || username.touched)) {
                @if (username.errors!['required']) {
                    <div class="text-danger">
                        El nombre es requerido
                    </div>
                }
                @if (username.errors!['minlength']) {
                    <div class="text-danger">
                        UserName debe tener un minimo de 8 caracteres
                    </div>
                }
            }
    </div>
    <div>
        <input 
            placeholder="Password" 
            name="password" 
            type="password" 
            [(ngModel)]="user.password" 
            class="form-control my-3" 
            required
            minlength="6"
            #password="ngModel">

            @if (password.invalid && (password.dirty || password.touched)) {
                @if (password.errors!['required']) {
                    <div class="text-danger">
                        El nombre es requerido
                    </div>
                }
                @if (password.errors!['minlength']) {
                    <div class="text-danger">
                        El password debe tener un minimo de 6 caracteres
                    </div>
                }
            }
    </div>

    <div>
        <button 
            type="submit" 
            class="btn btn-primary my-3"
            [disabled]="userForm.invalid">
            {{(user.id > 0) ? 'Update': 'Create'}}
        </button>
        <button 
            type="button" 
            class="btn btn-secondary m-3"
            (click)="onClear(userForm)">
            Clear
    </button>
    </div>

</form>