<div class="container my-5">
    <h3 class="my-4">{{title}}</h3>
    <button class="btn btn-primary btn-sm" (click)="setOpen()">
        {{(open == true)? 'Cerrar': 'Crear Usuario'}}
    </button>
    <div class="row">
        @if (open){
            <div class="col">
                <user-form 
                    [user]="userSelected"
                    (newUserEventEmitter)="addUser($event)">
                </user-form>
            </div>
        } @else {
            <div class="col">
                <user 
                    [users]="users" 
                    (idUserEventEmitter)="removeUser($event)"
                    (selectedUserEventEmitter)="setSelectedUser($event)">
                </user>
            </div>
        }
    </div>
</div>
